/*Side bar*/

.navbar.fixed-top.off-canvas {
  bottom: 0;
  right: auto;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  z-index: 999999999999;
}

.navbar.fixed-top.off-canvas .nav, .navbar.fixed-top.off-canvas .brand-line {
  width: 100%;
}

.nav.navbar-nav.drawer-menu {
  overflow-y: auto;
  flex: 1 1 auto;
  height: 0px;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.navbar.fixed-top.off-canvas > div[class*="container-"] {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-right: 0;
  padding-left: 0;
  height: 100%;
  align-content: space-between;
}

.navbar.fixed-top.off-canvas .navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar.fixed-top.off-canvas[data-right-drawer="1"], .navbar.fixed-top.off-canvas.right-drawer {
  right: 0;
  left: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.navbar.fixed-top.off-canvas[data-open-drawer="1"], .navbar.fixed-top.off-canvas.open {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.navbar.fixed-top.off-canvas.navbar-expand {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.navbar.fixed-top.off-canvas.navbar-expand .drawer-knob, .navbar.fixed-top.off-canvas.navbar-expand button[data-dismiss="drawer"] {
  display: none;
}

@media (min-width: 576px) {
  .navbar.fixed-top.off-canvas.navbar-expand-sm {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (min-width: 576px) {
  .navbar.fixed-top.off-canvas.navbar-expand-sm .drawer-knob, .navbar.fixed-top.off-canvas.navbar-expand-sm button[data-dismiss="drawer"] {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar.fixed-top.off-canvas.navbar-expand-md {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .navbar.fixed-top.off-canvas.navbar-expand-md .drawer-knob, .navbar.fixed-top.off-canvas.navbar-expand-md button[data-dismiss="drawer"] {
    display: none;
  }
}

@media (min-width: 992px) {
  .navbar.fixed-top.off-canvas.navbar-expand-lg {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (min-width: 992px) {
  .navbar.fixed-top.off-canvas.navbar-expand-lg .drawer-knob, .navbar.fixed-top.off-canvas.navbar-expand-lg button[data-dismiss="drawer"] {
    display: none;
  }
}

@media (min-width: 1200px) {
  .navbar.fixed-top.off-canvas.navbar-expand-xl {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@media (min-width: 1200px) {
  .navbar.fixed-top.off-canvas.navbar-expand-xl .drawer-knob, .navbar.fixed-top.off-canvas.navbar-expand-xl button[data-dismiss="drawer"] {
    display: none;
  }
}

.navbar.fixed-top.off-canvas .drawer-knob {
  position: absolute;
  top: 10px;
  right: -36px;
}

.navbar.fixed-top.off-canvas[data-open-drawer="1"] .drawer-knob, .navbar.fixed-top.off-canvas.open .drawer-knob {
  display: none;
}

.navbar.fixed-top.off-canvas {
  width: 100%;
}

@media (min-width: 576px) {
  .navbar.fixed-top.off-canvas {
    width: 280px;
  }
}

@media (min-width: 768px) {
  .navbar.fixed-top.off-canvas {
    width: 220px;
  }
}

@media (min-width: 992px) {
  .navbar.fixed-top.off-canvas {
    width: 220px;
  }
}

@media (min-width: 1200px) {
  .navbar.fixed-top.off-canvas {
    width: 260px;
  }
}

.drawer-push.drawer-expand > .drawer-site, .drawer-push.open > .drawer-site {
  margin-left: 100%;
}

@media (min-width: 576px) {
  .drawer-push.drawer-expand > .drawer-site, .drawer-push.drawer-expand-sm > .drawer-site, .drawer-push.open > .drawer-site {
    margin-left: 280px;
  }
}

@media (min-width: 768px) {
  .drawer-push.drawer-expand > .drawer-site, .drawer-push.drawer-expand-sm > .drawer-site, .drawer-push.drawer-expand-md > .drawer-site, .drawer-push.open > .drawer-site {
    margin-left: 220px;
  }
}

@media (min-width: 992px) {
  .drawer-push.drawer-expand > .drawer-site, .drawer-push.drawer-expand-sm > .drawer-site, .drawer-push.drawer-expand-md > .drawer-site, .drawer-push.drawer-expand-lg > .drawer-site, .drawer-push.open > .drawer-site {
    margin-left: 220px;
  }
}

@media (min-width: 1200px) {
  .drawer-push.drawer-expand > .drawer-site, .drawer-push.drawer-expand-sm > .drawer-site, .drawer-push.drawer-expand-md > .drawer-site, .drawer-push.drawer-expand-lg > .drawer-site, .drawer-push.drawer-expand-xl > .drawer-site, .drawer-push.open > .drawer-site {
    margin-left: 260px;
  }
}

.drawer-slide {
  position: relative;
  overflow-x: hidden;
}

.drawer-slide > .drawer-site {
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.drawer-slide.open > .drawer-site {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

@media (min-width: 576px) {
  .drawer-slide.open > .drawer-site {
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
  }
}

@media (min-width: 768px) {
  .drawer-slide.open > .drawer-site {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
  }
}

@media (min-width: 992px) {
  .drawer-slide.open > .drawer-site {
    -webkit-transform: translateX(220px);
    transform: translateX(220px);
  }
}

@media (min-width: 1200px) {
  .drawer-slide.open > .drawer-site {
    -webkit-transform: translateX(260px);
    transform: translateX(260px);
  }
}

body > div.drawer-fade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  transition: opacity .3s linear;
  background-color: #000000;
  opacity: 0;
  z-index: 99999999999;
}

body.drawer-open > div.drawer-fade {
  width: 100%;
  opacity: .6;
}


/*Nav*/
#logoimage {
  width: 70px;
}

.navitems {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.4em;
}

@media (min-width: 991px) {
  .navitems {
    margin: 0px 45px 0px 45px;
  }
}

@media (min-width: 1200px) {
  #logoimage {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .sub-nav {
    left: 0px !important;
    width: 768px !important;
    top: 60px !important;
  }
}

@media screen and (min-width: 992px) {
  .sub-nav {
    left: 150px !important;
    width: 768px !important;
    top: 34px !important;
  }
}

@media screen and (min-width: 1200px) {
  .sub-nav {
    left: 100px !important;
    width: 1000px !important;
    top: 45px !important;
  }
}

.sub-item {
  /*float: left;*/
  width: 20%;
  text-align: center;
}

.sub-nav {
  display: none;
}

.nav-item:hover > ul {
  display: flex !important;
}

.nav-item:hover {
  background-color: #1E90FF;
}

.nav-item:hover > a {
  color: white;
}

.nav-link:hover {
  color: white !important;
}

.contentRight {
  overflow: scroll;
}

.groupBo {
  background-image: linear-gradient(-60deg, rgb(244, 85, 96), rgb(247, 156, 0));
}



/*Other*/
header {
  margin: 50px 0 20px;
  text-align: center;
  padding: 0 10px;
}

header h1 {
  font-weight: bold;
  margin-bottom: 12px;
  font-size: 28px;
  margin-top: 30px;
}

.content {
  max-width: 600px;
  margin: 0 auto;
}

.content h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 40px 0 30px;
}

.content figure {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.content figcaption {
  font-size: 12px;
  padding-top: 10px;
}

.content div.dropdown {
  margin: 20px auto;
  width: 130px;
}

.content blockquote p {
  font-size: 14px;
  padding: 15px 20px;
  border-left: 3px solid #edecf2;
  background-color: #f9f9fb;
}

@media screen and (max-width: 576px) {
  .playButton {
    bottom: 85% !important;
    left: 85% !important;
  }
}

.form-inline.search-form {
}

.searchActive {
  display: block !important;
  transition: all .3s ease-out;
}

/* footer icon*/
#myFooter {
  background-color: #373a48;
  color: white;
}

#myFooter .footer-copyright {
  background-color: #383737;
  padding-top: 3px;
  padding-bottom: 3px;
  text-align: center;
}

#myFooter .footer-copyright p {
  margin: 10px;
  color: #ccc;
}

#myFooter ul {
  list-style-type: none;
  padding-left: 0;
  line-height: 1.7;
}

#myFooter h5 {
  font-size: 18px;
  color: white;
  font-weight: bold;
  margin-top: 30px;
}

#myFooter a {
  color: #d2d1d1;
  text-decoration: none;
}

#myFooter a:hover, #myFooter a:focus {
  text-decoration: none;
  color: white;
}

#myFooter .social-networks {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 38px;
}

#myFooter .social-networks a {
  font-size: 32px;
  margin-right: 5px;
  margin-left: 5px;
  color: #f9f9f9;
  padding: 10px;
  transition: 0.2s;
}

#myFooter .social-networks a:hover {
  text-decoration: none;
}

#myFooter .facebook:hover {
  color: #0077e2;
}

#myFooter .google:hover {
  color: #ef1a1a;
}

#myFooter .twitter:hover {
  color: #00aced;
}

#myFooter .linkedin:hover {
  color: #007BB6;
}

@media screen and (max-width: 767px) {
  #myFooter {
    text-align: center;
  }
}

/* Social Effect */
.social-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 1px solid #007bff;
  border-radius: 25%;
  width: 50px;
  height: 50px;
}

.social-link-icon {
  position: relative;
  display: flex;
  line-height: 24px;
  font-weight: 600;
  font-size: 1.6em;
  z-index: 2;
}

.social-link:hover {
  text-decoration: none;
}

.social-link-effect {
  transform: skewY(45deg) translate(-50%, -50%);
  background-color: #007bff;
  height: inherit;
  width: inherit;
  position: absolute;
  z-index: 1;
  border-radius: 25%;
  opacity: 0;
}

.social-link:hover > .social-link-effect {
  transform: translate(0, 0);
  opacity: 1;
  transition: 0.5s all;
}

.social-link:hover {
  color: white;
  transition: 0.5s all;
}

/*Button up*/
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

#coverSide {
  background: linear-gradient(to bottom, rgba(0,0,0,0.8) 0%, rgba(248,201,0,0.8) 100%) !important;
}

