#logoimage {
  width: 70px;
}

.navitems {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.4em;
}

@media (min-width: 991px) {
  .navitems {
    margin: 0px 45px 0px 45px;
  }
}

@media (min-width: 1200px) {
  #logoimage {
    margin-left: 100%;
  }
}

@media screen and (min-width: 768px) {
  .sub-nav {
    left: 0px !important;
    width: 768px !important;
    top: 60px !important;
  }
}

@media screen and (min-width: 992px) {
  .sub-nav {
    left: 150px !important;
    width: 768px !important;
    top: 34px !important;
  }
}

@media screen and (min-width: 1200px) {
  .sub-nav {
    left: 100px !important;
    width: 1000px !important;
    top: 45px !important;
  }
}

.sub-item {
  /*float: left;*/
  width: 20%;
  text-align: center;
}

.sub-nav {
  display: none;
}

.nav-item:hover > ul {
  display: flex !important;
}

.nav-item:hover {
  background-color: #1E90FF;
}

.nav-item:hover > a {
  color: white;
}

.nav-link:hover {
  color: white !important;
}

.contentRight {
  overflow: scroll;
}

.groupBo {
  background-image: linear-gradient(-60deg, rgb(244, 85, 96), rgb(247, 156, 0));
}

